 .latest-top-right .top-right {
	background: #343434;
	position: relative;	
}

.latest-top-right .top-right a {
	color: #ffffff;
	text-decoration: none;
}

.top-right-container {
	position: absolute;
	top: 0;
	left: 0;
	color: #ffffff;
	padding: 20px;
	line-height: 140%;
	word-break: break-all;
	z-index: 100;
	text-shadow: 1px 1px #000000;
}


.latest-top-right .top-right img {
	width: 100%;
	z-index: 1;		
}

.latest-top-right .top-right-subject {
	margin-bottom: 10px;
}

.latest-top-right .top-right-content {
	font-size: 20px;
	font-weight: 800;
	line-height: 140%;
	max-width: 50%;
}

.latest-top-right .read_more {
	z-index: 900;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}